body{
    left: 0px;
    top: 0px;
    margin: 0px 0px 0px 0px;
    background-color:#ecf0f1;
    font-family: Ubuntu;
    height: 100%;
    color: #34495e;
}
a{
    text-decoration: none;
    text-emphasis-color: black;
    color: #34495e;
    
}

li b{
    cursor: pointer;
    -webkit-appearance: pointer; 
}

div#page{
    float: left;
    min-width : 40%;
    max-width : 50%;
    height: 100%;
    text-align: left;
    margin-top: 0%;
    margin-left: 10%;
    border: 0;
    padding-right: 50px;
    padding-top: 20px; 
    }


div#sidebar{
    float: right;
    width: 30%;
    height : 100%;
    padding-top: 20px;

}

span#post_date{
    float: right;
    text-align : right;
    font-size: 11px;
    width: 200px;
    height: 62px;
    padding-top: 18px;
}
span#post_date_img{
    float: right;
    text-align : right;
    font-size: 11px;
    width: 50px;
    height: 62px;
    padding-top: 8px;
}
span#post_title{
    float: left;
    text-align : left;
    font-size: 18px;
    width: 300px;
    height: 62px; 
}
span#post_title_img{
    float: left;
    text-align : left;
    font-size: 18px;
    width: 50px;
    height: 62px;
    padding-top: 10px;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #bbbbbb;
}

fieldset {
  border: 0;
}

input,
textarea,
select{
    border: 1px solid #cccccc;
    border:none;
    min-width: 250px;
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="text"],
input[type="password"] {
    cursor: text;
    -webkit-appearance: text;
    width: 100%;
    padding-left:5px; 

}

input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    width: 150px;
    height: 35px;
    background-color: #3498db;
    color:white;
}

input[type="submit"]:hover {
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    background-color: #2ecc71;
}
textarea,
select{
    border: 1px solid #cccccc;

    width: 100%;
}

select:focus,
textarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.error,
.error:focus{
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(211, 84, 0,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(211, 84, 0,0.6);
}
.success:focus,
.success{
    border-color: #2ecc71;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(46, 204, 113,1.0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(46, 204, 113,1.0);
}

.left{
    text-align: left;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.right{
    text-align: right;
    float: right;
}

.seperator{
    padding-left: 40%;
}

#cssmenu > ul {
    background-color: #e67e22;
    padding-bottom: 3px;
    font-weight: 800;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu {
    width: auto;
    zoom: 1.15;
}
#cssmenu > ul {
    background-color:#3498db;
    margin: -1;
    padding: 0;
    position: relative;
}
#cssmenu > ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#cssmenu > ul > li {
    float: left;
    position: relative;
}
#cssmenu > ul > li > a {
    padding: 23px 26px;
    display: block;
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
}
#cssmenu > ul > li:hover > a {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    background-color: #2ecc71;
    color:#16a085;
}
#cssmenu > ul > li > a > span {
    line-height: 18px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li > a:active {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    background-color:#16a085;
    color:white;
}
#cssmenu > ul ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120px;
    background-color:#3498db;
    margin: 0;
    padding: 0;
    z-index: -1;
}
#cssmenu > ul li:hover ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    color: #000;
    z-index: 2;
    top: 64px;
    left: 0;
}
#cssmenu > ul ul:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: transparent;
}
#cssmenu > ul ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#cssmenu > ul ul li a {
    padding: 18px 26px;
    display: block;
    color: white;
    font-size: 13px;
    text-decoration: none;
    width: 150px;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
#cssmenu > ul ul li a:hover {
    border-left: 4px solid #e74c3c;
    background-color:#2ecc71;
}
#cssmenu > ul ul li a:active {
    border-left: 4px solid #3498db;
    background-color:#3498db;
}

#passwordStrength{
        height:10px;
        display:block;
        float:left;
}

.strength0{
    width:250px;
    background:#c0392b;
}

.strength1{
    width:50px;
    background:#e74c3c;
}

.strength2{
    width:100px;    
    background:#e67e22;
}

.strength3{
    width:150px;
    background:#f1c40f;
}

.strength4{
    background:#2ecc71;
    width:200px;
}

.strength5{
    background:#27ae60;
    width:250px;
}

.pass_error{
    color:#c0392b;
}

.pass_success{
    color:#27ae60;
}



/*
li[class="main-child"]{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    list-style-type: none;
    margin-top: 50px;
    border:solid 1px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-radius: 4px;
}

li[class="main-child"]:hover{
    border-color: #66afe9; 
}*/

li.main-child 
{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    list-style-type: none;
    margin-top: 50px;
    position: relative;
    background: #ecf0f1;
    border: #66afe9 solid 8px;

}

li.main-child:after 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 71.5%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ecf0f1 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

li.main-child:before 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    border-style: solid;
    border-width: 22px 22px 0;
    border-color: #66afe9 transparent;
    display: block;
    width: 0;
    z-index: 0;
}
select,input,textarea{
    border: none;
    background:#E1E5E8;
}