{% load staticfiles %}{% load i18n %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel='stylesheet' href='{% static 'css/dclock.css' %}' />
    <link rel='stylesheet' href='{% static 'css/style.css' %}' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div>
        <header id="Header">
        <div id='cssmenu'>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href='{% url profile user.username %}'>
                        <span>{{ user.get_full_name }}</span>
                    </a>
                    {% else %}
                    <a href='{% url index %}'>
                        <span>Blog</span>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a href='{% url index %}'>
                        <span>Home</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href='{% url create_post %}'>
                        <span>Create Post</span>
                    </a>
                </li>
                <li class='has-sub'>
                    <a href='{% url profile user.username %}'>
                        <span>Settings</span>
                    </a>
                    <ul>
                        <li>
                            <a href='{% url profile_edit %}'>
                                <span>Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href='{% url user_posts user.username %}'>
                                <span>Posts</span>
                            </a>
                        </li>
                        <li class='last'>
                            <a href='{% url password_change %}'>
                                <span>Password</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href='{% url login %}'>
                        <span>Login</span>
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class='last'>
                    <a href='{% url logout %}'>
                        <span>Log Out</span>
                    </a>
                </li>
                {% else %}
                <li class='last'>
                    <a href='{% url signup %}'>
                        <span>Sign Up</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        </header><!-- Header End -->
        <div id="content-main">
            <div id="sidebar" >
            {% block Sidebar %}
            <!--{% if user.is_authenticated %}
                <a href='{% url profile user.username %}'>My Profile</a></br>
                <a href='{% url create_post %}'>Create Post</a></br>
            {% else %}
            {% endif %}-->
            
            <div id="clock" class="light">
                <div class="display">
                    <div class="weekdays"></div>
                    <div class="ampm"></div>
                    <div class="alarm"></div>
                    <div class="digits"></div>
                </div>
            </div>
            <!--{% for post in post_list %}
            <div>
                    <span id="post_title" style="text-align:right;">
                        <h5><a href='{% url post post.slug post.id%}'>{{ post.title }}</a> <p style="text-align:right; font-size:11px;">Posted by {{ post.posted_by }} {% trans "Last update" %}: {{ post.last_modified_time|date:'d M Y' }}</p></h5>
                    </span>
            </div>
            {% endfor %}-->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/moment.min.js' %}"></script>
            <script src="{% static 'js/clock.js' %}"></script>
            {% endblock %}
            </div>
            <div id="page" ><!-- Posts begin-->
            {% block content %}
                        It's content
            {% endblock %}
            </div>
            
        </div></br>
    </div>
</body>
</html>