{% extends 'layout_twocol.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Post List' %}{% endblock %}
{% block content %}
     {% for post in post_list %}
        <div>
            
                <fieldset>
                    <span id="post_title_img">
                        <img src="{% static 'images/post.png' %}">
                    </span>
                    <span id="post_title">
                        <h3><a href='{% url post post.slug post.id%}'>{{ post.title }}</a></h3>
                    </span>
                    <span id="post_date_img">
                        <img src="{% static 'images/date.png'%}">
                    </span>
                    <span id="post_date">
                        <p>{% trans "Eklenme Tarihi" %}: {{ post.added_time|date:'d M Y'}}</p>
                    </span>
                </fieldset>
            
                <div id="post_content">
                    <p>{{ post.summary|safe|linebreaks }}<a style="color:#3498db;" href='{% url post post.slug post.id%}'>Devamı için...</a></p>
                </div>
                <div>
                    <p style="text-align:right; font-size:11px;">Posted by {{ post.posted_by }} </br>{% trans "Last update" %}: {{ post.last_modified_time|date:'d M Y' }}</p>
                <div>
                </br></br>
        </div>
     {% endfor %}
{% endblock %}
